.person {
  width: 260px;
  float: left;
  text-align: center;
  margin: 20px 0;
}

h2 {
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 26px;
  color: #444;
  margin-bottom: 0.45em;
  margin-top: 0.25em;
  line-height: 1.2em;
}

h4 {
  display: inline;
  font-size: 1em;
}

.row div {
  border: 1px solid black;
}

p.details {
  font-size: .8em;
  margin-bottom: 8px;
}

div#people {
  max-width: 800px;
  margin: auto;
  /*padding: 0px 0 40px 0;*/
  font-size: 16px;
  color: #676965;
}

div.feature {
  margin: 10px 0 70px 0;
}

div.feature div.img {
  display: table-cell;
  vertical-align: middle;
  /*width: 300px;*/
  width: 270px;
}

@media (max-width: 799px) {
  div.feature div.img {
    display: block;
    margin-left: 15px;
  }
}

div.feature div.img img {
/*  width: 300px;
  height: 220px;*/
  height: 180px;
}

div.text {
  display: table-cell;
  vertical-align: middle;
  font-family: Helvetica Neue;
  font-weight: 300;
  color: #868686;
  line-height: 1.55em;
  font-size: 16px;
}

div.feature div.text {
  font-size: 15px;
}

h3 {
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 22px;
  color: #6D706B;
  margin-bottom: 0.45em;
  margin-top: 0.25em;
  line-height: 1.2em;
}

div.feature div.text.left {
  padding-right: 45px;
}

div.feature div.text.right {
  padding-left: 45px;
}

@media (max-width: 799px) {
  div.feature div.text.left {
    padding-right: 15px;
  }
  div.feature div.text.right {
    padding-left: 15px;
  }
}

div.placeholder {
  width: 300px;
  height: 220px;
  background: silver;
  border: 1px solid gray;
}
