* { padding: 0; margin: 0;}

html {
  padding: 0;
  margin: 0;
  font-family: 'Lato', helvetica, arial, sans-serif;
}

body {
  margin: auto;
  width: 900px;
  padding-top: 20px;
}

div.middle {
	margin: 0 20px;
	margin-bottom: 20px;
}

h1 {
	font-weight: normal;
	font-size: 34px;
	color: #4D4D4C;
	line-height: 36px;
  font-family: 'Lato', helvetica, arial, sans-serif;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.50);*/
	margin-bottom: 34px;
}

h1 img {
	padding-right: 4px;
	vertical-align: -4px;
	width: 69px;
	height: 57px;
}

h2 {
	font-weight: normal;
	font-size: 26px;
	color: black;
	line-height: 32px;
	width: 240px;
	float: left;
}

.clear {
	clear: both;
}

p {
	margin-left: 300px;
	font-style: italic;
	font-weight: 400;
	color: gray;
	font-size: 1.2em;
}

.label {
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 0.75em;
  font-style: italic;
  margin: 0;
  padding: 0px 2px 1px 2px;
  border-top-left-radius: 4px;
  color: #aaa;
}

.relative {
  position: relative;
}

.shadow {
  box-shadow: 0px 0px 10px gray;
  border: 1px solid white;
  background-color: white;
  text-align: center;
  margin: 10px;
  display: inline-block;
  padding: 0;
}

.center {
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

div.formula, svg.formula {
  width: 600px;
  height: 300px;
}

div.error {
  box-shadow: 0px 0px 10px red;
  border: 1px solid lightred;
}

div.solved {
  box-shadow: 0px 0px 10px green;
  border: 1px solid lightgreen;
}
